#alj_form{
  text-align:center;
}
#alj_txt_search {
  width:100%;
}
#alj_btn_search{
  margin:16px;
}

.alj_table_header{
  background:#ccc;
}
.alj_tabs,.alj_sub_tabs {
  padding:0;
  margin:0;
  list-style:none;
  position: relative;
  text-align: left;
}
.alj_sub_tabs{
  border-top:1px solid #ccc;
}
.alj_tabs .alj_tab,.alj_sub_tabs .alj_sub_tab  {
  padding:0;
  margin:0;
  display: block;
  float:left;
}
.alj_tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.alj_tab_label {
  cursor:pointer;
  display:inline-block;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-right:2px;
  margin-left:2px;
  margin-bottom:16px;
  padding: 8px;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.alj_tab_content {
  padding:16px;
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  background:#fefefe;
}
.alj_tabs [id^="alj_tab"]:checked ~ [id^="alj_tab_content"],.alj_sub_tabs [id^="alj_sub_tab"]:checked ~ [id^="alj_sub_tab_content"]  {
  display: block;
}
#alj_character_draw{
  padding:8px;
  margin:8px;
  float:left;
  width:200px;
  border:1px solid #ccc;
}
#alj_character_definitions{
  margin:8px;
  float:left;
  max-width:710px;
}